<!-- The page for about almond boats  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<!--Page Title-->
<section class="page-banner">
    <div class="image-layer" style="background-image:url(../public/images/background/banner-1.jpg);"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>About AlmondBoats</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Welcome Section-->
<section class="welcome-section">
    <div class="auto-container">
        <div class="title-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <h4>Hello!</h4>
            <h2>Welcome to <strong>AlmondBoats</strong></h2>
            <div class="text">At Almond Yachts, we strive for excellence. We’re inspired by nature and the human spirit
                to explore. In nature, the Almond hull and shell protects its payload through the harshest of
                conditions. Using high-tech composite engineering, Almond Yachts are designed to protect, and provide an
                engaging, hassle free yachting experience.</div>
        </div>
        <div class="image-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="images/resource/featured-image-28.jpg" alt="">
        </div>
        <div class="text">Almond Yachts is dedicated to sustainable boating. This is why all Almond Yachts are designed
            for electric propulsion only. The time has come to make the change. So we’re starting with a clean page and
            clean electric motors.</div>

    </div>
</section>



<!--Features Section-->
<section class="features-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Feature-->
            <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="octagonWrap">
                            <div class="octagon"></div>
                        </div>
                        <span class="icon flaticon-scuba"></span>
                    </div>
                    <div class="content">
                        <h4>Quality & <br>Best Equipments</h4>
                        <div class="text">Perfectly simple & easy to in our hour, when our power.</div>
                        <div class="link-box">
                            <a href="/about" class="default-link">
                                <span class="icon flaticon-logout"></span> <span class="link-text">More About
                                    Surfing</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Feature-->
            <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="octagonWrap">
                            <div class="octagon"></div>
                        </div>
                        <span class="icon flaticon-boat-race"></span>
                    </div>
                    <div class="content">
                        <h4>Professional & <br>Expert Instroctors</h4>
                        <div class="text">The wise man therefore always holds in these matters.</div>
                        <div class="link-box">
                            <a href="/about" class="default-link">
                                <span class="icon flaticon-logout"></span> <span class="link-text">More About
                                    Surfing</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Feature-->
            <div class="feature-block col-lg-4 col-md-12 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <div class="octagonWrap">
                            <div class="octagon"></div>
                        </div>
                        <span class="icon flaticon-wallet"></span>
                    </div>
                    <div class="content">
                        <h4>Value for <br>Spending Money</h4>
                        <div class="text">Pleasures to secure other greater he endures worse pains.</div>
                        <div class="link-box">
                            <a href="/about" class="default-link">
                                <span class="icon flaticon-logout"></span> <span class="link-text">More About
                                    Surfing</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Subscribe Section-->
<section class="subscribe-section style-two wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
    <div class="auto-container">
        <div class="inner">
            <div class="title">
                <h4>Subscribe to our newsletter</h4>
                <div class="subtitle">Subscribe & Get Updates in Your Inbox </div>
            </div>
            <div class="default-form subscribe-form-two">
                <form method="post" action="">
                    <div class="row clearfix">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <div class="field-inner">
                                <input type="text" name="field-name" placeholder="Your Name" required="" value="">
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <div class="field-inner">
                                <input type="email" name="field-name" placeholder="Email Address" required="" value="">
                            </div>
                        </div>

                        <div class="form-group col-lg-4 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-three"><span class="btn-title">Subscribe
                                    Now</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{/block}}