<!-- The customization page  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<!--Yacht Tours Section-->
<section class="yacht-tours-container alternate-bg-two paddingbottom20">
    <div class="auto-container">
        <div class="content-container">
            <div class="row calculation-box clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12 nomarginBottom">
                    <div class="content-inner">
                        <!--Tour Details-->
                        <div class="tour-details">
                            <div class="main-image">
                                <img src="../../public/images/resource/featured-image-{{found.id}}.jpg" alt="" title="">
                            </div>
                            <div class="section-box" id="boatnickname">
                                Boat Name: <p>{{found && found.boatName}}</p>
                            </div>
                            <div class="price-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-10">
                                        <div class="col-lg-12 col-md-12 col-sm-12 total_amount">
                                            Total: <span class="converter_currency"></span><span
                                                class="new convertPrice realPrice">$2685.49</span>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 total_discount">
                                            GST: <span class="new convertPrice">$268.00</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 view_summary">
                                        <span class="arrow fa fa-arrow-circle-right"></span><button class="view"
                                            data-toggle="modal" data-target="#viewsummary" id="view_summary">View
                                            Summary</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Widgets Side-->
                <div class="widgets-side col-lg-4 col-md-12 col-sm-12 yacht-details nopadding">
                    <div class="widgets-content content-column nopadding">
                        <div class="scroller-box">
                            <div class="scroller">
                                <!--Widget-->
                                <div class="tour-widget single-booking-widget nomarginBottom">
                                    <div class="widget-inner">
                                        <form id="customForm">
                                            <div class="default-form main-booking-form">

                                                <div class="tab-content custom-form offers-widget">
                                                    <div class="tab-pane active" id="lightship">
                                                        <input type="text" value="{{found && found.id}}" name="boatId"
                                                            hidden>
                                                        <input type="text" value="{{found && found.boatName}}"
                                                            name="boatName" hidden>
                                                        <input type="text"
                                                            value="{{found && found.category.categoryId}}"
                                                            name="categoryId" hidden>
                                                        <input type="text"
                                                            value="{{found && found.category.categoryName}}"
                                                            name="categoryName" hidden>
                                                        <input type="text" value="{{user && user.id}}" name="customerId"
                                                            hidden>
                                                        <h5>{{found && found.boatName}}</h5>
                                                        <div class="expected">Estimated Delivery: <span>2~4 weeks</span>
                                                        </div>
                                                        <div id="itemContent">
                                                            {{each finalResult value index}}
                                                            <div class="form-group boatcontent" id="section{{index+1}}">
                                                                <div class="field-label"><span
                                                                        class="fa fa-calendar-check"></span><span
                                                                        class="label-title">
                                                                        {{value.sectionName}}</span></div>
                                                                <div class="field-inner">
                                                                    <ul class="additional-services">
                                                                        {{each value.info value2 index2}}
                                                                        <li>
                                                                            <div class="upper clearfix">
                                                                                <div class="check-block"><input
                                                                                        type="{{value.type}}"
                                                                                        id="radio_motor{{value2.itemId}}"
                                                                                        name="engine{{value2.sectionId}}"
                                                                                        value="{{value2.itemId}}_{{value2.unitPrice}}"
                                                                                        class="input_box"><label
                                                                                        for="radio_motor{{value2.itemId}}">{{value2.itemName}}</label>
                                                                                    <input type="text"
                                                                                        value="{{value2.quantityRemaining}}"
                                                                                        name="quantityRemaining"
                                                                                        class="quantityRemaining"
                                                                                        hidden>
                                                                                    <span class="stockStatus"
                                                                                        style="display: none;">Out of
                                                                                        Stock</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="downlevel clearfix">
                                                                                <a
                                                                                    class="fa fa-info-circle icon-info"></a>
                                                                                <span> More
                                                                                    Information</span>
                                                                                <span class="price "><span
                                                                                        class="convertPrice">{{value2.unitPrice
                                                                                        | moneyFormat}}</span></span>
                                                                            </div>
                                                                        </li>
                                                                        {{/each}}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="personal_info">
                                                <div class="form-group">
                                                    <div class="field-inner">
                                                        <input type="text" name="description" id="inputBoatName"
                                                            placeholder="Rename your boat" value="">
                                                    </div>
                                                </div>
                                            </div>

                                            {{if user}}

                                            {{else}}
                                            <div class="personal_info">
                                                <h5>Personal Info</h5>
                                                <br>
                                                <div class="form-group">
                                                    <div class="field-inner">
                                                        <input type="text" name="firstName" placeholder="First Name"
                                                            required="true" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="field-inner">
                                                        <input type="text" name="lastName" placeholder="Last Name"
                                                            required="true" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="field-inner">
                                                        <input type="email" name="email" placeholder="Email"
                                                            required="true" value="">
                                                    </div>
                                                </div>

                                            </div>
                                            {{/if}}
                                            <div class="place-order">
                                                <div class="form-group">
                                                    <button type="submit" id="place_order_btn" disabled><span
                                                            class="btn-title">Place
                                                            order</span></button>
                                                </div>
                                            </div>
                                            <div class="instruction">By clicking the "Place order" button, I agree with
                                                the order agreement and customer privacy agreement.</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="modal fade selectRefresh" id="viewsummary" tabindex="-1" aria-labelledby="exampleModalLabelOne"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header summary-header">
                    <h5 class="modal-title" id="exampleModalLabelOne"> Summary</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-table yacht-details summary_detail">
                    <div class="specs content-column">
                        <div class="scroller-box">
                            <div class="scroller">
                                <div class="summary-title">
                                    <h5><span class="text">Brief Info </span>
                                        <a href="#" class="btn btn-light share-it" id="emailDetail">
                                            <span class="fa fa-envelope"></span> Email Details</a>
                                        <a href="javascript:genPDF()" class="btn btn-light share-it"><span
                                                class="fa fa-file-pdf"></span> PDF Summary</a>
                                    </h5>
                                    <p></p>
                                </div>

                                <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ITEM NAME</th>
                                            <th>SECTION</th>
                                            <th>UNIT PRICE</th>
                                            <th>SUBTOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="total_price col-lg-6 col-md-6 col-sm-12">Total Amount Due: <span
                                class="convertPrice" id="summaryTotal">$2685.49</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script type="text/javascript" src="../public/js/html2canvas.js"></script>
<script src="https://smtpjs.com/v3/smtp.js">
</script>
<script>
    // The function to show the editted name by customer
    $("#inputBoatName").keyup(function () {
        $("#boatnickname p").html($("#inputBoatName").val())
    });


    // Checked the input checked status in order to prevent submit nothing

    $(".boatcontent input").on("change keyup paste", function () {
        if ($('.boatcontent input:checked').length > 0) {
            $("#place_order_btn").attr("disabled", false)
        } else {
            $("#place_order_btn").attr("disabled", true)
        }
    })

    var userid = $("input[name='customerId']").val()

    var sectionH1 = 82;
    var sectionH2 = $("#section1").height() - 64
    var sectionH3 = $("#section2").height() + sectionH2 - 64
    var sectionH4 = $("#section3").height() + sectionH3 - 64
    var sectionH5 = $("#section4").height() + sectionH4 - 64
    var boatid = $("input[name='boatId']").val()

    //The function to monitor scroll even and show different picture in the left according to offset
    $("#mCSB_3_container").bind('mousewheel', function (event, delta) {
        var h = Math.abs(parseInt($(this).position().top))
        if (h < sectionH2) {
            $(".main-image img").attr("src", "../../public/images/resource/featured-image-" + boatid + '.jpg')
        }
        if (h >= sectionH2 && h < sectionH3) {
            $(".main-image img").attr("src", "../../public/images/resource/featured-image-88.jpg")
        }
        if (h >= sectionH3 && h < sectionH4) {
            $(".main-image img").attr("src", "../../public/images/resource/featured-image-87.jpg")
        }
        if (h >= sectionH4 && h < sectionH5) {
            $(".main-image img").attr("src", "../../public/images/resource/featured-image-84.jpg")
        }
        if (h >= sectionH5) {
            $(".main-image img").attr("src", "../../public/images/resource/featured-image-87.png")
        }
    });

    $("#emailDetail").click(function () {
        sendEmail()
    })
    function sendEmail() {
        Email.send({
            Host: "smtp.gmail.com",
            Username: "almondboats001@gmail.com",
            Password: "20031105Ab",
            To: 'adrien027@hotmail.com',
            From: "almondboats001@gmail.com",
            Subject: "Sending Email using javascript",
            Body: "Well that was easy!!",
        })
            .then(function (message) {
                alert("mail sent successfully")
            });
    }

    // Check the quantity remaining of each item and show the status of 'out of stock' if the quantity below or equals to zero
    var quantityArr = $(".quantityRemaining")
    for (var i in quantityArr) {
        if (parseInt(quantityArr[i].value) == 0 || parseInt(quantityArr[i].value) < 0) {
            quantityArr[i].nextElementSibling.style.display = 'block'
            quantityArr[i].parentNode.firstChild.disabled = true;
        }
    }

    var obj = {};
    var sum = 0;
    // The function for showing summary
    $("input").on("click", function () {
        obj.sectiontemp = [];
        obj.pricetemp = [];
        obj.itemtemp = [];
        var sectionName = $(this).parent().parent().parent().parent().parent().parent().children(".field-label").children(".label-title").text().trim();
        var price = parseInt($(this).val().split("_")[1]);
        var itemName = $(this).parent().children("label").text().trim()
        if (this.checked == true) {
            obj.sectiontemp.push(sectionName)
            obj.pricetemp.push(price)
            obj.itemtemp.push(itemName)
            sum += price;
        }
        if (this.checked == false) {
            obj.sectiontemp.remove(sectionName)
            obj.pricetemp.remove(price)
            obj.itemtemp.remove(itemName)
            sum -= price;
        }
        $("#tableOne tbody").append(`<tr>
                                        <td width='25%'>`+ obj.itemtemp + `</td>
                                        <td width='25%'>`+ obj.sectiontemp + `</td>
                                        <td width='25%'>$`+ obj.pricetemp + ` × 1</td>
                                        <td width='25%'>$`+ obj.pricetemp + `</td>
                                    </tr>`)
        $("#summaryTotal").html('$' + sum)
        $(".realPrice").html('$' + sum)
    })
    // var obj = {};
    // var sectiontemp = [];
    // var pricetemp = [];
    // var itemtemp = [];
    // var sum = 0;
    // $("#view_summary").click(function () {

    //     $("#itemContent input").each(function () {
    //         if ($(this).is(":checked") == true) {
    //             if (!sectiontemp.includes($(this).parent().parent().parent().parent().parent().parent().children(".field-label").children(".label-title").text().trim())) {
    //                 sectiontemp.push($(this).parent().parent().parent().parent().parent().parent().children(".field-label").children(".label-title").text().trim())
    //             }
    //             if (!pricetemp.includes(parseInt($(this).val().split("_")[1]))) {
    //                 pricetemp.push(parseInt($(this).val().split("_")[1]))
    //             }
    //             if (!itemtemp.includes($(this).parent().children("label").text().trim())) {
    //                 itemtemp.push($(this).parent().children("label").text().trim());
    //                 sum += parseInt($(this).val().split("_")[1]);
    //             }
    //         }
    //     })

    //     obj.sectiontemp = sectiontemp;
    //     obj.pricetemp = pricetemp;
    //     obj.itemtemp = itemtemp;
    //     for (var i in obj.sectiontemp) {
    //         $("#tableOne tbody").append(`<tr>
    //                                     <td width='25%'>`+ obj.itemtemp[i] + `</td>
    //                                     <td width='25%'>`+ obj.sectiontemp[i] + `</td>
    //                                     <td width='25%'>$`+ obj.pricetemp[i] + ` × 1</td>
    //                                     <td width='25%'>$`+ obj.pricetemp[i] + `</td>
    //                                 </tr>`)
    //     }
    //     $("#summaryTotal").html('$' + sum)
    // });

    // The function to generate PDF
    $("#PdfReport").click(function () {
        makePDF()
    });

    function genPDF() {
        html2canvas(document.querySelector("#viewsummary"), { scrollY: -window.scrollY }).then(function (canvas) {
            var img = canvas.toDataURL("image/png");
            var doc = new jsPDF({
                orientation: 'l', // landscape
                unit: 'pt', // points, pixels won't work properly
                format: [canvas.width, canvas.height] // set needed dimensions for any element
            });
            doc.addImage(img, 'JPEG', 0, 0, canvas.width, canvas.height);
            doc.save('summary.pdf');
        });

    }

    // Send ajax request to server
    $('#customForm').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/placeOrder',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.location.href = '/orderResult'
                } else if (err_code === 500) {
                    alert("Server error");
                } else if (err_code === 2) {
                    alert("Email exists, you can login to place the order");
                }
            }
        })
    })

    // The function to get the value of selected input
    function getValue() {
        var radio = $('input:checked');
        sum = "";
        for (i = 0; i < radio.length; i++) {
            if (radio[i].checked) {
                alert(radio[i].name)
            }
        }
    }

</script>
{{/block}}