<!-- The forget password result page  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- login start -->
<div class="auto-container">
    <div class="login-content ">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 left_container">
                <img src="../../public/images/background/login_bg.jpg">
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <!-- form start -->
                <div class="row clearfix paddingForm">

                    <div class="form-column login-page col-lg-12 col-md-12 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">

                            <div class="result-success" style="padding-top:5rem;">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="sec-title">
                                <h4>Thank you</h4>
                            </div>
                            <div class="default-form contact-form login-form">
                                <p>If your email is valid, you will receive an email that contains your username and
                                    password
                                </p>
                                <p>If you still need help, <a href="/contact">contact us</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form end -->
            </div>

        </div>
    </div>
</div>
<!-- login end -->
{{/block}}

{{block 'script'}}
<script>
    // Sending ajax request
    $('#forgetPwd').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/forgetPwd',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.location.href = '/'
                } else if (err_code === 500) {
                    window.alert('server error')
                }
            }
        })
    })
</script>
{{/block}}