<!-- The index page for customer  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- Banner Section -->
<section class="banner-section banner-three">

    <div class="banner-carousel owl-theme owl-carousel">
        <!-- Slide Item -->
        <div class="slide-item  content-center">
            <div class="image-layer" style="background-image: url(../../public/images/main-slider/7.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">

                    <div class="content clearfix">
                        <div class="inner">
                            <div class="placehold"></div>
                            <h1>Find Your <br>Best Cruising Yachts</h1>
                            <div class="text">Using high-tech composite engineering, Almond Yachts are designed to
                                protect, and provide an engaging, hassle free yachting experience. </div>
                            <div class="links-box clearfix">
                                <a href="/model" class="theme-btn btn-style-two">
                                    <div class="btn-title">Customize Now</div>
                                </a>
                            </div>
                            <div class="placehold"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item content-center">
            <div class="image-layer" style="background-image: url(../../public/images/main-slider/8.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">

                    <div class="content clearfix">
                        <div class="inner">
                            <div class="placehold"></div>
                            <h1>Electric LightShip <br>are wonderful</h1>
                            <div class="text">Using high-tech composite engineering, Almond Yachts are designed to
                                protect, and provide an engaging, hassle free yachting experience. </div>
                            <div class="links-box clearfix">
                                <a href="/model" class="theme-btn btn-style-two">
                                    <div class="btn-title">Customize Now</div>
                                </a>
                            </div>
                            <div class="placehold"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item content-center">
            <div class="image-layer" style="background-image: url(../../public/images/main-slider/9.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">

                    <div class="content clearfix">
                        <div class="inner">
                            <div class="placehold"></div>
                            <h1>Almond Yachts <br>strives for excellence</h1>
                            <div class="text">Our mission is to be an environmentally and socially conscious
                                manufacturer. And Almond Yachts is dedicated to sustainable boating </div>
                            <div class="links-box clearfix">
                                <a href="/model" class="theme-btn btn-style-two">
                                    <div class="btn-title">Customize Now</div>
                                </a>
                            </div>
                            <div class="placehold"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<!-- special service section  -->
<section class="services-section-two destinations-two alternate">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>Almond Yachts <strong>Special Service</strong></h2>
            <div class="lower-text">Just Tailor for you</div>
        </div>
        <div class="row clearfix">

            <!--Service Block-->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="image">
                        <img src="../public/images/resource/featured-image-35.jpg" alt="" title="">
                    </div>
                    <div class="lower-box">
                        <div class="title-box">
                            <div class="inner">
                                <div class="subtitle">Customization</div>
                                <h4><a href="#">Yacht custom</a></h4>
                            </div>
                        </div>
                        <div class="text"> We deliver fully-custom built yachts with your choice of exterior and
                            interior designer.</div>
                    </div>
                </div>
            </div>

            <!--Service Block-->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="image">
                        <img src="../public/images/resource/featured-image-36.jpg" alt="" title="">
                    </div>
                    <div class="lower-box">
                        <div class="title-box">
                            <div class="inner">
                                <div class="subtitle">Premium follow up service</div>
                                <h4><a href="#">Yacht Service</a></h4>
                            </div>
                        </div>
                        <div class="text">High-quality after-sales service, your exclusive after-sales service hotline
                            and private communication.</div>
                    </div>
                </div>
            </div>

            <!--Service Block-->
            <div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms"
                data-wow-duration="1500ms">
                <div class="inner-box">
                    <div class="image">
                        <img src="../public/images/resource/featured-image-37.jpg" alt="" title="">
                    </div>
                    <div class="lower-box">
                        <div class="title-box">
                            <div class="inner">
                                <div class="subtitle">Accessory warranty </div>
                                <h4><a href="#">Yachts Quality</a></h4>
                            </div>
                        </div>
                        <div class="text">You are entitled to a replacement for a major failure and for
                            compensation for any reasonably foreseeable loss or damage.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}

{{/block}}