{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- Banner Section -->
<section class="banner-section banner-three">

    <div class="banner-carousel owl-theme owl-carousel">
        <!-- Slide Item -->
        <div class="slide-item  content-center">
            <div class="image-layer" style="background-image: url(../../public/images/main-slider/7.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">

                    <div class="content clearfix">
                        <div class="inner">
                            <div class="placehold"></div>
                            <h1>Find Your <br>Best Cruising Yachts</h1>
                            <div class="text">Using high-tech composite engineering, Almond Yachts are designed to
                                protect, and provide an engaging, hassle free yachting experience. </div>
                            <div class="links-box clearfix">
                                <a href="/custom" class="theme-btn btn-style-two">
                                    <div class="btn-title">Customize Now</div>
                                </a>
                            </div>
                            <div class="placehold"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item content-center">
            <div class="image-layer" style="background-image: url(../../public/images/main-slider/8.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">

                    <div class="content clearfix">
                        <div class="inner">
                            <div class="placehold"></div>
                            <h1>Electric LightShip <br>are wonderful</h1>
                            <div class="text">Using high-tech composite engineering, Almond Yachts are designed to
                                protect, and provide an engaging, hassle free yachting experience. </div>
                            <div class="links-box clearfix">
                                <a href="/custom" class="theme-btn btn-style-two">
                                    <div class="btn-title">Customize Now</div>
                                </a>
                            </div>
                            <div class="placehold"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item content-center">
            <div class="image-layer" style="background-image: url(../../public/images/main-slider/9.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">

                    <div class="content clearfix">
                        <div class="inner">
                            <div class="placehold"></div>
                            <h1>Almond Yachts <br>strives for excellence</h1>
                            <div class="text">Our mission is to be an environmentally and socially conscious
                                manufacturer. And Almond Yachts is dedicated to sustainable boating </div>
                            <div class="links-box clearfix">
                                <a href="/custom" class="theme-btn btn-style-two">
                                    <div class="btn-title">Customize Now</div>
                                </a>
                            </div>
                            <div class="placehold"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->

<section class="similar-yachts">
    <div class="auto-container">
        <div class="upper-title">
            <h4>Premium Yachts</h4>
        </div>
        <div class="row clearfix">
            <!--Rental Block-->
            {{each result}}
            <div class="rental-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="#"><img src="../../public/images/resource/featured-image-{{$index+1}}.jpg" alt=""
                                    title=""></a>
                        </figure>
                        <div class="price-box">
                            <div class="price" style="font-size:0.8rem;">Model Number </div>
                            <div class="cycle">{{result[$index].modelNumber}}</div>
                        </div>
                    </div>
                    <div class="title-box">
                        <div class="more-link-box">
                            <a href="/custom" class="theme-btn">Customization</a>
                        </div>
                        <h4><a href="/custom">{{result[$index].boatName}}</a></h4>
                        <div class="info">177’ / 53.65 m / Light Yacht</div>
                    </div>
                    <div class="meta-info">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-tachometer-alt"></span> Speed: 30 KN</a></li>
                            <li><a href="#"><span class="fa fa-radiation-alt"></span> Range: 750 KN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}

{{/block}}