{{extend './_layout/layout.html'}}

{{block 'content'}}
<section class="page-banner">
    <div class="image-layer" style="background-image:url(../public/images/background/banner-1.jpg);"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Your Dream Yacht for <br /> customizing </h1>
            </div>
        </div>
    </div>
</section>
<section class="rent-buy-section nopadding">
    <div class="auto-container">
        <div class="lower-filter-row clearfix">
            <div class="results-count">
                <span>{{result.length}} Results Found</span>
                <span id="demo"></span>
            </div>
            <!--Filter-->
            <div class="filters clearfix">
                <div class="default-form clearfix">
                    <div class="filter-box">
                        <div class="form-group">
                            <div class="field-inner">
                                <select class="custom-select-box" id="categories">
                                    <option value="All Categories">All Categories</option>
                                    <option value="Electric Lightship">Electric Lightship</option>
                                    <option value="Coastal Cruising">Coastal Cruising</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="similar-yachts yachts-model">
    <div class="auto-container">

        <div class="row clearfix">
            <!--Rental Block-->
            {{each result}}
            <div class="rental-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="#"><img src="../../public/images/resource/featured-image-{{result[$index].id}}.jpg"
                                    alt="" title=""></a>
                        </figure>
                        <div class="price-box">
                            <div class="price" style="font-size:0.8rem;">Model Number </div>
                            <div class="cycle">{{result[$index].modelNumber}}</div>
                        </div>
                    </div>
                    <div class="title-box">
                        <div class="more-link-box">
                            <a href="/custom?id={{result[$index].id}}" class="theme-btn">Customization</a>
                        </div>
                        <h4><a href="/custom?id={{result[$index].id}}">{{result[$index].boatName}}</a></h4>
                        <div class="info">177’ / 53.65 m / <span
                                class="categoryName">{{result[$index].category.categoryName}}</span></div>
                    </div>
                    <div class="meta-info">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-tachometer-alt"></span> Speed: 30 KN</a></li>
                            <li><a href="#"><span class="fa fa-radiation-alt"></span> Range: 750 KN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}
<script>
    // alert($("#categories option:selected").val())
    $("#categories").change(function () {
        alert('okkk')
    });
    // function myFunction() {
    //     alert('ok')
    //     var x = document.getElementById("categories").value;
    //     document.getElementById("demo").innerHTML = "You selected: " + x;
    // }
</script>
{{/block}}