<!-- The page for models  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<section class="page-banner">
    <div class="image-layer" style="background-image:url(../public/images/background/banner-1.jpg);"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Your Dream Yacht for <br /> customizing </h1>
            </div>
        </div>
    </div>
</section>
<section class="rent-buy-section nopadding">
    <div class="auto-container">
        <div class="lower-filter-row clearfix">
            <div class="results-count">
                <span>Premium Yachts</span>
                <span id="demo"></span>
            </div>
            <!--Filter-->
            <div class="filters clearfix">
                <div class="default-form clearfix">
                    <div class="filter-box">
                        <div class="form-group">
                            <div class="field-inner">
                                <select id="categories">
                                    <option value="All Categories">All Categories</option>
                                    {{each categoryresults}}
                                    <option value="{{$value.categoryName}}">{{$value.categoryName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="similar-yachts yachts-model">
    <div class="auto-container">

        <div class="row clearfix result_category" id="all">
            <!--Rental Block-->
            {{each result}}
            <div class="rental-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="#"><img src="../../public/images/resource/featured-image-{{result[$index].id}}.jpg"
                                    alt="" title=""></a>
                        </figure>
                        <div class="price-box">
                            <div class="cycle">{{result && result[$index].category.categoryName}}</div>
                        </div>
                    </div>
                    <div class="title-box">
                        <div class="more-link-box">
                            <a href="/custom?id={{result[$index].id}}" class="theme-btn">Customization</a>
                        </div>
                        <h4><a href="/custom?id={{result[$index].id}}">{{result && result[$index].boatName}}</a></h4>
                        <div class="info">177’ / 53.65 m / <span class="categoryName">{{result &&
                                result[$index].category.categoryName}}</span></div>
                    </div>
                    <div class="meta-info">
                        <ul class="clearfix">
                            <li><a href="javascript:;"><span class="fa fa-tachometer-alt"></span> Number:
                                    {{result && result[$index].modelNumber}}</a></li>
                            <li><a href="javascript:;"><span class="fa fa-calendar-alt"></span> Year:
                                    {{result && result[$index].modelYear | getDate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row clearfix result_category" id="lightship" style="display: none;">
            {{each lightShipCategory}}
            <div class="rental-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="#"><img
                                    src="../../public/images/resource/featured-image-{{lightShipCategory[$index].id}}.jpg"
                                    alt="" title=""></a>
                        </figure>
                        <div class="price-box">
                            <div class="cycle">{{lightShipCategory && lightShipCategory[$index].category.categoryName}}
                            </div>
                        </div>
                    </div>
                    <div class="title-box">
                        <div class="more-link-box">
                            <a href="/custom?id={{result[$index].id}}" class="theme-btn">Customization</a>
                        </div>
                        <h4><a href="/custom?id={{result[$index].id}}">{{lightShipCategory &&
                                lightShipCategory[$index].boatName}}</a></h4>
                        <div class="info">177’ / 53.65 m / <span class="categoryName">{{lightShipCategory &&
                                lightShipCategory[$index].category.categoryName}}</span></div>
                    </div>
                    <div class="meta-info">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-tachometer-alt"></span> Number:
                                    {{lightShipCategory && lightShipCategory[$index].modelNumber}}</a></li>
                            <li><a href="#"><span class="fa fa-calendar-alt"></span> Year:
                                    {{lightShipCategory && lightShipCategory[$index].modelYear | getDate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row clearfix result_category" id="cruising" style="display: none;">
            {{each CruisingCategory}}
            <div class="rental-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="#"><img
                                    src="../../public/images/resource/featured-image-{{CruisingCategory[$index].id}}.jpg"
                                    alt="" title=""></a>
                        </figure>
                        <div class="price-box">
                            <div class="cycle">{{CruisingCategory && CruisingCategory[$index].category.categoryName}}
                            </div>
                        </div>
                    </div>
                    <div class="title-box">
                        <div class="more-link-box">
                            <a href="/custom?id={{result[$index].id}}" class="theme-btn">Customization</a>
                        </div>
                        <h4><a href="/custom?id={{result[$index].id}}">{{CruisingCategory &&
                                CruisingCategory[$index].boatName}}</a></h4>
                        <div class="info">177’ / 53.65 m / <span class="categoryName">{{CruisingCategory &&
                                CruisingCategory[$index].category.categoryName}}</span></div>
                    </div>
                    <div class="meta-info">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-tachometer-alt"></span> Number:
                                    {{CruisingCategory && CruisingCategory[$index].modelNumber}}</a></li>
                            <li><a href="#"><span class="fa fa-calendar-alt"></span> Year:
                                    {{CruisingCategory && CruisingCategory[$index].modelYear | getDate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}
<script>
    // The function to change category and show corresponding content
    $('#categories').change(function () {
        var selectedValue = $(this).val();
        if (selectedValue == 'Lightship') {
            $("#all").hide();
            $("#cruising").hide();
            $("#lightship").show()
        }
        else if (selectedValue == 'Coastal Cruising ') {
            $("#all").hide();
            $("#lightship").hide();
            $("#cruising").show()

        } else if (selectedValue == 'All Categories') {
            $("#lightship").hide();
            $("#cruising").hide();
            $("#all").show()
        } else {
            $(".result_category").hide()
        }
    });

</script>
{{/block}}