<!-- The order result page for showing the result after the customer placed order  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- Result content  start -->
<div class="result-content">
    <div class="auto-container">
        <div class="result">
            <div class="result-success">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="result-info">
                <div class="result-lg">
                    Thanks for your enquiry.
                </div>
                <div class="result-xs">
                    One of our consultant will be in touch with you as soon as possible.
                </div>

                <div class="desc">

                </div>
                {{if newuser}}
                <div>We have created an account for you. Your username is : <b> {{user && user.email}} </b> Your
                    password is : <b>{{
                        createdpassword}}</b> </div>
                {{else}}
                {{/if}}
            </div>
            <div class="order-detail">
                <div class="detail-title">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            Order Number: <span>#20211019000{{currentOrderInfo && currentOrderInfo.orderId}}</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <span class="expected_delivery"> <i class="fa fa-clock"></i>
                                Est. Delivery: <span class="date">{{currentOrderInfo &&
                                    currentOrderInfo.estimatedDeliveryDate |
                                    getDate}}</span></span>
                        </div>
                    </div>
                </div>
                <div class="detail-content">
                    <div class="row">

                        <div class="col-lg-4">
                            Boat Name:
                        </div>
                        <div class="col-lg-8"> <span class="span-text">{{foundBoat && foundBoat.boatName}}</span></div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            Boat Category:
                        </div>
                        <div class="col-lg-8"><span class="span-text">{{foundCategory &&
                                foundCategory.categoryName}}</span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            Boat Price:
                        </div>
                        <div class="col-lg-8"><span class="span-text">{{currentOrderInfo && currentOrderInfo.price |
                                moneyFormat}}</span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            Order Date:
                        </div>
                        <div class="col-lg-8"><span class="span-text">{{currentOrderInfo && currentOrderInfo.orderDate |
                                getDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-tips">
                <ul class="yacht-details">
                    <li class="instruction">You will receive a confirmation email with order detail for your order.</li>
                    <li class="instruction">You can go to My Account > <a href="/order">My orders</a> to
                        check the detailed
                        information.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Result content end -->
{{/block}}
{{block 'script'}}

{{/block}}