{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- Result content  start -->
<div class="result-content">
    <div class="auto-container">
        <div class="result">
            <div class="result-success">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="result-info">
                <div class="result-lg">
                    Thank you for shopping with us.
                </div>
                <div class="result-xs">
                    Your order has been placed
                </div>

                <div class="desc">

                </div>
            </div>
            {{each valueData}}
            <div class="order-detail">
                <div class="detail-title">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            Order Number: <span>#202110190001</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <span class="expected_delivery"> <i class="fa fa-clock"></i>
                                Expected Delivery Date: <span
                                    class="date">{{valueData.estimatedDeliveryDate}}</span></span>
                        </div>
                    </div>
                </div>
                <div class="detail-content">
                    <div class="row">

                        <div class="col-lg-4">
                            Boat Name:
                        </div>
                        <div class="col-lg-8"> <span class="span-text">{{valueData.boats.boatName}}</span></div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            Boat Category:
                        </div>
                        <div class="col-lg-8"><span class="span-text">{{valueData.boats.category.categoryName}}</span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            Boat Price:
                        </div>
                        <div class="col-lg-8"><span class="span-text">{{valueData.price}}</span></div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            Order Date:
                        </div>
                        <div class="col-lg-8"><span class="span-text">{{valueData.orderDate}}</span></div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="detail-tips">
                <ul class="yacht-details">
                    <li class="instruction">You will receive a confirmation email with order detail for your order.</li>
                    <li class="instruction">You can go to My Account > <a href="/order">My orders</a> to
                        check the detailed
                        information.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Result content end -->
{{/block}}
{{block 'script'}}

{{/block}}