<!-- The page to show order informtion for each order history  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- account content  start -->
<div class="account-content">
    <div class="auto-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order Info</li>
            </ol>
        </nav>
        <div class="account-content-info">

            <div class="info-title clearfix">Order Info <span class="status">
                    <i class="fa fa-check-circle"></i>
                    received
                </span>
            </div>
            <div class="info-content">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                        <div class="input-group">
                            <span class="input-group-text text-title">Order Date</span>
                            <span type="text" class="form-control">{{orderFound && orderFound.orderDate |
                                getDateTime}}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                        <div class="input-group">
                            <span class="input-group-text text-title">Order Number</span>
                            <span type="text" class="form-control">#20211019000{{orderFound &&
                                orderFound.orderId}}</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                        <div class="input-group">
                            <span class="input-group-text text-title">Boat Category</span>
                            <span type="text" class="form-control">
                                {{foundCategory && foundCategory.categoryName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                        <div class="input-group">
                            <span class="input-group-text text-title">Boat Name</span>
                            <span type="text" class="form-control">
                                {{foundboat && foundboat.boatName}}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                        <div class="input-group">
                            <span class="input-group-text text-title">Model Number</span>
                            <span type="text" class="form-control">
                                {{foundboat && foundboat.modelNumber}}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                        <div class="input-group">
                            <span class="input-group-text text-title">Model Year</span>
                            <span type="text" class="form-control">
                                {{foundboat && foundboat.modelYear | getDate}}</span>
                        </div>
                    </div>

                </div>
            </div>
            <div id="deliverInfo">
                <div class="info-title clearfix">Delivery Info
                </div>
                <div class="info-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                            <div class="input-group">
                                <span class="input-group-text text-title">Delivery</span>
                                <span type="text" class="form-control"><i class="fa fa-shipping-fast"></i>
                                    Courier Express</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                            <div class="input-group">
                                <span class="input-group-text text-title">Delivery Date</span>
                                <span type="text" class="form-control">
                                    {{orderFound && orderFound.estimatedDeliveryDate | getDate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="delivery">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                                <div class="delivery-title"><i class="fa fa-clipboard-check"></i> Billing</div>
                                <div class="delivery-content">
                                    <p>{{user && user.firstName}} {{user && user.lastName}}</p>
                                    <p class="address">{{user && user.address1}} </p>
                                    <p class="suburb">{{user && user.suburb}} </p>
                                    <p class="state">{{user && user.state}} {{user && user.zipCode}} </p>
                                    <p class="country">{{user && user.country}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 nopadding">
                                <div class="delivery-title"><i class="fa fa-map-marker-alt"></i> Delivery To</div>
                                <div class="delivery-content">
                                    <p>{{user && user.firstName}} {{user && user.lastName}}</p>
                                    <p>{{user && user.address1}} </p>
                                    <p>{{user && user.suburb}} </p>
                                    <p>{{user && user.state}}, {{user && user.zipCode}} </p>
                                    <p>{{user && user.country}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="info-title clearfix">Customization Details
            </div>
            <div class="info-content">
                <div class="container">
                    <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
                        <thead class="thead-dark">
                            <tr>
                                <th>ITEM NAME</th>
                                <th>SECTION</th>
                                <th>UNIT PRICE</th>
                                <th>QTY</th>
                                <th>SUBTOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{each selectedItems}}
                            <tr>
                                <td>{{ selectedItems[$index] && selectedItems[$index].itemName }}</td>
                                <td>{{ selectedSections[$index] && selectedSections[$index].sectionName }}</td>
                                <td>{{ selectedItems[$index] && selectedItems[$index].unitPrice | moneyFormat }}</td>
                                <td>× 1</td>
                                <td>{{ selectedItems[$index] && selectedItems[$index].unitPrice | moneyFormat }}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 nopadding">

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 nopadding">
                            <div class="input-group">
                                <span class="input-group-text text-title">Initial Deposit</span>
                                <span type="text" class="form-control">$500.00</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text text-title">Total(incl.GST)</span>
                                <span type="text" class="form-control totalAmount">{{orderFound && orderFound.price |
                                    moneyFormat}}</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text text-title">Tax/GST</span>
                                <span type="text" class="form-control tax">{{orderFound && orderFound.price*0.05 |
                                    moneyFormat}}</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text text-title">Delivery</span>
                                <span type="text" class="form-control">$0.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account content end -->
{{/block}}
{{block 'script'}}
<script>
    // if the customer information is incomplete, the delivery informtion will hide 
    if ($(".address").html().trim() == "" || $(".suburb").html().trim() == "" || $(".country").html().trim() == "") {
        $("#deliverInfo").hide()
    }
</script>
{{/block}}