{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- account content  start -->
<div class="account-content">
    <div class="auto-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">My order</li>
            </ol>
        </nav>

        <div class="account-content-info">
            <div class="info-title">Order History</div>
            <div class="info-content">
                <!-- It seems that there is no order at present. -->
                <ul>
                    <li class="row">
                        <div class="order-top clearfix">
                            <div class="left">
                                <div class="top">Order date:</div>
                                <div class="bottom">2021-10-19</div>
                            </div>
                            <div class="right">
                                <div class="top">Order total:</div>
                                <div class="bottom">$5000</div>
                            </div>
                        </div>
                        <div class="order-bottom">
                            <div class="row order-tb">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="logo">
                                                <div class="top">Order Number</div>
                                                <div class="bottom">#202110190001</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class="top">category</div>
                                            <div class="bottom">Lightship</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class=" top">Boat Name</div>
                                            <div class="bottom">MockA</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class=" top">Order Status</div>
                                            <div class="bottom">
                                                <span class="status">
                                                    <i class="fa fa-check-circle"></i>
                                                    received
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <a href="#">view order details</a>
                                </div>


                            </div>
                    </li>
                    <li class="row">
                        <div class="order-top clearfix">
                            <div class="left">
                                <div class="top">Order date:</div>
                                <div class="bottom">2021-10-19</div>
                            </div>
                            <div class="right">
                                <div class="top">Order total:</div>
                                <div class="bottom">$5000</div>
                            </div>
                        </div>
                        <div class="order-bottom">
                            <div class="row order-tb">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="logo">
                                                <div class="top">Order Number</div>
                                                <div class="bottom">#202110190001</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class="top">category</div>
                                            <div class="bottom">Lightship</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class=" top">Boat Name</div>
                                            <div class="bottom">MockA</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class=" top">Order Status</div>
                                            <div class="bottom">
                                                <span class="status">
                                                    <i class="fa fa-check-circle"></i>
                                                    received
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <a href="#">view order details</a>
                                </div>
                            </div>
                    </li>
                    <li class="row">
                        <div class="order-top clearfix">
                            <div class="left">
                                <div class="top">Order date:</div>
                                <div class="bottom">2021-10-19</div>
                            </div>
                            <div class="right">
                                <div class="top">Order total:</div>
                                <div class="bottom">$5000</div>
                            </div>
                        </div>
                        <div class="order-bottom">
                            <div class="row order-tb">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="logo">
                                                <div class="top">Order Number</div>
                                                <div class="bottom">#202110190001</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class="top">category</div>
                                            <div class="bottom">Lightship</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class=" top">Boat Name</div>
                                            <div class="bottom">MockA</div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class=" top">Order Status</div>
                                            <div class="bottom">
                                                <span class="status">
                                                    <i class="fa fa-check-circle"></i>
                                                    received
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <a href="#">view order details</a>
                                </div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- account content end -->
{{/block}}