<!-- The order history page in my account  -->
{{extend './_layout/layout.html'}}

{{block 'content'}}
<!-- account content  start -->
<div class="account-content">
    <div class="auto-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">My Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">My order</li>
            </ol>
        </nav>

        <div class="account-content-info">
            <div class="info-title">Order History</div>
            <div class="info-content">
                <ul>
                    {{each orderresult}}
                    <li>
                        <div class="order-top clearfix">
                            <div class="left">
                                <div class="top">Order date:</div>
                                <div class="bottom">{{orderresult && orderresult[$index].orderDate | getMonthDate}}
                                </div>
                            </div>
                            <div class="right">
                                <div class="top">Order total:</div>
                                <div class="bottom">{{orderresult && orderresult[$index].price | moneyFormat}}</div>
                            </div>
                        </div>
                        <div class="order-bottom">
                            <div class="row order-tb">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="logo">
                                                <div class="top">Order Number</div>
                                                <div class="bottom">#20211030{{orderresult &&
                                                    orderresult[$index].orderId}}</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class="top">category</div>
                                            <div class="bottom">{{categoryArr[$index] &&
                                                categoryArr[$index].categoryName}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4">
                                            <div class=" top">Boat Name</div>
                                            <div class="bottom">{{boatArr[$index] && boatArr[$index].boatName}}</div>
                                        </div>
                                        <div class="col-lg-4 col-md-2 col-sm-4  col-xs-4">
                                            <div class=" top">Order Status</div>
                                            <div class="bottom">
                                                <span class="status">
                                                    <i class="fa fa-check-circle"></i>
                                                    received
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12">
                                    <a href="/orderInfo?orderid={{orderresult[$index].orderId}}">view order details</a>
                                </div>
                            </div>
                    </li>
                    {{/each}}
                </ul>
                <!-- If there is no order in the account, this div will show  -->
                <div class="default_page" style="display: none;">
                    There are currently no orders.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account content end -->
{{/block}}
{{block 'script'}}
<script>
    // The function to show div for no order
    if (document.querySelector(".info-content ul").querySelector("li") == null) {
        $(".default_page").show();
    } else {
        $(".default_page").hide();
    }
</script>
{{/block}}