{{extend './layout.html'}}

{{block 'oacontent'}}
<!-- start section content -->
<div class="content-body">
    <div class="warper container-fluid">
        <div class="doctorino_settings main_container">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4 class="text-primary">Boat Information</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex nav_title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/oa/index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:;">Boat Edit</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form id="editBoat">
                                <input type="text" name="id" id="id" value="{{BoatSingle && BoatSingle.id}}" hidden>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Category<span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6">
                                                <input type="text" id="categoryId" value="{{BoatSingle.categoryId}}"
                                                    hidden>
                                                <select class="form-control" id="categories">
                                                    {{each categories}}
                                                    <option name="categoryId" value="{{categories[$index].categoryId}}">
                                                        {{categories[$index].categoryName}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Boat Name
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="boatName"
                                                    value="{{BoatSingle && BoatSingle.boatName}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Model Number <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="modelNumber"
                                                    value="{{BoatSingle && BoatSingle.modelNumber}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">description <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="description"
                                                    value="{{BoatSingle && BoatSingle.description}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Model Year<span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control datetimepicker" name="modelYear"
                                                    value="{{BoatSingle && BoatSingle.modelYear | getDate}}" required>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <div class="form-group"><button type="submit"
                                                class="btn btn-primary float-end">Save</button></div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End section content -->
{{/block }}
{{block 'oascript'}}
<script>
    $("#categories").val($("#categoryId").val())
    $('#editBoat').on('submit', function (e) {
        e.preventDefault()
        var categoryId = $("#categories option:selected").val();
        var formData = $(this).serialize() + '&categoryId=' + categoryId;
        $.ajax({
            url: '/oa/boatEdit',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.location.href = '/oa/boats'
                } else if (err_code === 500) {
                    t_alert("Server error");
                }

            }
        })
    })
</script>
{{/block }}