{{extend './layout.html'}}

{{block 'oacontent'}}
<!-- start section content -->
<div class="content-body">
    <div class="warper container-fluid">
        <div class="all_prescriptions main_container">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4 class="text-primary"> Categories</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex nav_title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/oa/index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:;">Categories</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header fix-card">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title"> Category List</h5>
                                </div>
                                <div class="col-6">
                                    <a href="/oa/newCategory" class="btn btn-primary float-end">New
                                        Category </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example1" class="display nowrap">
                                    <thead>
                                        <tr>
                                            <th>Category ID</th>
                                            <th>Category Name</th>
                                            <th>Description</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{each result}}
                                        <tr>
                                            <td>{{result[$index].categoryId}}</td>
                                            <td>{{result[$index].categoryName}}</td>
                                            <td>{{result[$index].description}}</td>
                                            <td>
                                                <a href="/oa/categoryEdit?id={{result[$index].categoryId}}"
                                                    class='mr-4 btn-edit'>
                                                    <span class='fa fa-edit' aria-hidden='true'></span>
                                                </a>
                                                <a href="/oa/deleteCategory?id={{result[$index].categoryId}}"
                                                    class='mr-4 btn-delete' onclick="return confirmAct();">
                                                    <span class='fas fa-trash-alt'></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                Are you sure to delete this one?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- End section content -->
{{/block }}
{{block 'oascript'}}
<script>
    // $("#confirm-delete").on("click", ".btn-danger", function () {
    //     alert($(e.relatedTarget).data('href'))
    // });


</script>
{{/block }}