{{extend './layout.html'}}

{{block 'oacontent'}}
<!-- start section content -->
<div class="content-body">
    <div class="warper container-fluid">
        <div class="doctorino_settings main_container">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4 class="text-primary">Change Password</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex nav_title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/oa/index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:;">Change Password</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form id="changePwd">
                                <input type="text" value="{{admin && admin.id}}" name="id" hidden>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">
                                                <span class="text-danger"></span>
                                            </label>
                                            <div class="col-lg-9">
                                                <div class="login-page">
                                                    <p class="warning" style="margin-left: 0;">
                                                        <span></span><i class="fa fa-times"></i>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Current Password
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" name="oldPassword" value=""
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">New Password<span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" name="newPassword" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Confirm Password<span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" name="verifyPassword"
                                                    value="">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <div class="form-group"><button type="submit"
                                                class="btn btn-primary float-end">Save</button></div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End section content -->
{{/block }}
{{block 'oascript'}}
<script>
    $('#changePwd').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize();
        $.ajax({
            url: '/oa/changePwd',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    $(".warning").show();
                    $(".warning span").html("Password successfully changed.");
                } else if (err_code === 500) {
                    $(".warning").show();
                    $(".warning span").html("server error.");
                }

            }
        })
    })

    $(".warning i").click(function () {
        $(this).parent().hide()
    })
</script>
{{/block }}