<!-- start section header -->
<div class="header">
    <header class="top-head container-fluid">
        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
            <div class="left-header content-header__menu">

            </div>
        </div>
        <div class="header-right">
            <div class="fullscreen notification_dropdown">
                <div class="full">
                    <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                        <i class="fas fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="notification_dropdown">
                <div class="cart-wrapper">
                    <div class="cart-icon">
                        <a class="cart-control" href="#">
                            <i class="fas fa-bell"></i>
                            <div class="pulse-css"></div>
                        </a>
                    </div>
                    <div class="cart-dropdown-form dropdown-container">
                        <div class="form-content">
                            <div class="widget-media main-scroll nicescroll-box">
                                <ul class="timeline">
                                    <li>
                                        <h6 class="mb-0">Notitications</h6>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 text-blue">
                                                <i class="fas fa-calendar-check"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-1 ">Order</h6>
                                                <small class="d-block">A new order has been placed...</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="media mr-2 media-info">
                                                <i class="fas fa-pallet"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Inventory</h6>
                                                <small class="d-block">An item is out of stock...</small>
                                            </div>
                                        </div>
                                    </li>



                                </ul>
                            </div>
                            <a class="all-notification btn btn-primary" href="#">
                                See all notifications
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-account-wrapper">
                <div class="account-wrapper">
                    <div class="account-control">
                        <a class="login header-profile" href="#" title="Sign in">
                            <div class="header-info">
                                <span>{{user.firstName}}</span>
                                <small>Admin</small>
                            </div>
                            <img src="../../public/images/client.jpg" alt="people">
                        </a>
                        <div class="account-dropdown-form dropdown-container">
                            <div class="form-content">
                                <a href="/oa/account">
                                    <i class="far fa-user"></i>
                                    <span class="ml-2">Profile</span>
                                </a>
                                <a href="#">
                                    <i class="far fa-envelope"></i>
                                    <span class="ml-2">Inbox</span>
                                </a>
                                <a href="/oa/logout">
                                    <i class="fas fa-sign-in-alt"></i>
                                    <span class="ml-2">Logout </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<!-- End section header -->