   <!-- start logo components -->
   <div class="nav-header">
    <div class="brand-logo">
        <a href="/oa/index"> <img class="logo-tabib" src="../../public/images/download.png" alt=""></a>
        <a href="/oa/index"><img class="brand-title" src="../../public/images/logo-text.png" alt=""></a>
    </div>
</div>
<!-- End logo components -->
   <!-- start section sidebar -->
   <aside class="left-panel nicescroll-box">
    <nav class="navigation">
        <ul class="list-unstyled main-menu">
            <li class="has-submenu active">
                <a href="/oa/index">
                    <i class="fas fa-th-large"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            
            <li class="has-submenu">
                <a href="/oa/order">
                    <i class="fas fa-calendar-check"></i>
                    <span class="nav-label">Orders</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="/oa/supplier">
                    <i class="fas fa-user-tie"></i>
                    <span class="nav-label">Supplier</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="/oa/user">
                    <i class="fas fa-address-card"></i>
                    <span class="nav-label">Users</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="#" class="has-arrow mm-collapsed">
                    <i class="fas fa-cog"></i>
                    <span class="nav-label">Settings</span>
                </a>
                <ul class="list-unstyled mm-collapse">
                    <li><a href="/oa/account">Profile Edit</a></li>
                    <li><a href="">Password Reset</a></li>
                </ul>
            </li>

        </ul>
    </nav>

</aside>
<!-- End section sidebar -->
