{{extend './layout_login.html'}}
{{block 'oacontent'}}
<div class="login-tabib">
    <div class="login-main">
        <form id="login_form">
            <h5 class="text-center" style="font-weight: bold;">Welcome to Almond Yachts</h5>
            <div class="form-group m-b-10">
                <label class="col-form-label">User name</label>
                <input class="form-control" id="email" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group m-b-10">
                <label class="col-form-label">Password</label>
                <div class="form-input position-relative login-pwd">
                    <input class="form-control" id="password" type="password" name="password" placeholder="Password">
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <div class="form-group mb-0 default-form">
                <div class="check-block"><input type="checkbox" id="remember" name="remember"><label
                        for="remember">Remember Password</label>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade glyphicon" id="myModalalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true"
    style="display:none;width:12rem\9; margin:0 auto\9;overflow:hidden;*position:absolute;*left:35%; top:30%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"> <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                <h4 id="t_alert_msg" style="font-weight:normal; font-size: 0.8rem;"> Loading… </h4>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'oascript'}}
<script>
    $(".login-pwd i").click(function () {
        var password = $("#password");
        var pwdtype = password.attr("type")
        if (pwdtype === "password") {
            password.attr("type", "text")
            $(this).removeClass('fa fa-eye').addClass('fa fa-eye-slash')
        } else {
            password.attr("type", "password")
            $(this).removeClass('fa fa-eye-slash').addClass('fa fa-eye')
        }
    });
    $('#login_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        console.log(formData)
        $.ajax({
            url: '/oa/login',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.location.href = '/oa/index'
                } else if (err_code === 1) {
                    t_alert("Email or password error");
                } else if (err_code === 500) {
                    t_alert("Server error");
                } else if (err_code === 2) {
                    t_alert("No Authorization!");
                }
            }
        })
    })

    function t_alert(msg) {
        $("#t_alert_msg").html(msg);
        $('#myModalalert').modal('show');
        setTimeout("$('#myModalalert').modal('hide')", 2500);
    }
    // remember password  
    var oForm = document.getElementById('login_form');
    var oUser = document.getElementById('email');
    var oPswd = document.getElementById('password');
    var oRemember = document.getElementById('remember');

    if (getCookie('email') && getCookie('password')) {
        oUser.value = getCookie('email');
        oPswd.value = getCookie('password');
        oRemember.checked = true;
    }

    oRemember.onchange = function () {
        if (!this.checked) {
            delCookie('email');
            delCookie('password');
        }
    };

    oForm.onsubmit = function () {
        if (remember.checked) {
            setCookie('email', oUser.value, 7); //保存帐号到cookie，有效期7天
            setCookie('password', oPswd.value, 7); //保存密码到cookie，有效期7天
        }
    };


    function setCookie(name, value, day) {
        var date = new Date();
        date.setDate(date.getDate() + day);
        document.cookie = name + '=' + value + ';expires=' + date;
    };

    function getCookie(name) {
        var reg = RegExp(name + '=([^;]+)');
        var arr = document.cookie.match(reg);
        if (arr) {
            return arr[1];
        } else {
            return '';
        }
    };

    function delCookie(name) {
        setCookie(name, null, -1);
    };
</script>
{{/block}}