<!-- The page for adding a new category  -->
{{extend './layout.html'}}

{{block 'oacontent'}}
<!-- start section content -->
<div class="content-body">
    <div class="warper container-fluid">
        <div class="doctorino_settings main_container">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4 class="text-primary">Category Information</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex nav_title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/oa/index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:;">New Category</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form id="newCategory">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Category Name
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="categoryName" value=""
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Description <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="description" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                </div>


                                <div class="row">
                                    <div class="col-sm-11">
                                        <div class="form-group"><button type="submit"
                                                class="btn btn-primary float-end">Save</button></div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End section content -->
{{/block }}
{{block 'oascript'}}
<script>
    // Send ajax request and send the formdata
    $('#newCategory').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize();
        $.ajax({
            url: '/oa/newCategory',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.location.href = '/oa/categories'
                } else if (err_code === 500) {
                    t_alert("Server error");
                }

            }
        })
    })
</script>
{{/block }}