{{extend './layout.html'}}

{{block 'oacontent'}}
<!-- start section content -->
<div class="content-body">
    <div class="warper container-fluid">
        <div class="doctorino_settings main_container">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4 class="text-primary">Edit Order</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex nav_title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/oa/index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:;">Order Edit</a>
                        </li>
                    </ol>
                </div>
            </div>
            <form id="editOrder">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header fix-card">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="card-title"> Order Info</h5>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group"><button type="submit" class="btn btn-primary float-end">
                                                Save</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body account-detail">
                                <input type="text" name="orderId" value="{{orderSingle && orderSingle.orderId}}" hidden>
                                <input type="text" name="boatId" value="{{orderSingle && orderSingle.boatId}}" hidden>
                                <input type="text" name="customerId" value="{{orderSingle && orderSingle.customerId}}"
                                    hidden>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Order Date <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{orderSingle && orderSingle.orderDate | getDateTime}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Boat Name <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ foundBoat && foundBoat.boatName }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Boat Cateogory <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ categoryInfo && categoryInfo.categoryName }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Delivery Date <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control datetimepicker"
                                                    name="estimatedDeliveryDate"
                                                    value="{{orderSingle && orderSingle.estimatedDeliveryDate | getDate}}"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Price <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6">

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <input type="number" class="form-control"
                                                        aria-label="Amount (to the nearest dollar)" name="price"
                                                        value="{{orderSingle && orderSingle.price}}" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Rename Boat <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="description"
                                                    value="{{orderSingle && orderSingle.description}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Comments <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" name="comments"
                                                    value="{{orderSingle && orderSingle.comments}}">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header fix-card">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="card-title"> Customer Info</h5>
                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>
                            </div>
                            <div class="card-body account-detail">

                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Customer Name <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.firstName }} {{ cutomerFound &&
                                                    cutomerFound.lastName }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Phone Number <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.phoneNumber }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Email <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Country <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.country }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">State <span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.state }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Suburb <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.suburb }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Address1 <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.address1 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">Address2 <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.address2 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label">ZipCode <span
                                                    class="text-danger"></span></label>
                                            <div class="col-lg-6 span-text">
                                                <span>{{ cutomerFound && cutomerFound.zipCode==0?'':cutomerFound.zipCode
                                                    }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header fix-card">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="card-title"> Customization Info</h5>
                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>
                            </div>
                            <div class="card-body account-detail">

                                <div class="row" style="margin:0">
                                    <div class="table-responsive">
                                        <table id="item_table" class="display nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Item ID</th>
                                                    <th>Item Name</th>
                                                    <th>Section</th>
                                                    <th>Unit Price</th>
                                                    <th>Quantity</th>
                                                    <th>Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{each foundArr }}
                                                <tr>
                                                    <td>{{foundArr && foundArr[$index].itemId}}</td>
                                                    <td>{{foundArr && foundArr[$index].itemName}}</td>
                                                    <td>{{foundArrSection && foundArrSection[$index].sectionName}}</td>
                                                    <td>{{foundArr && foundArr[$index].unitPrice | moneyFormat}}</td>
                                                    <td>*1</td>
                                                    <td>{{foundArr && foundArr[$index].unitPrice | moneyFormat}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
<!-- End section content -->
{{/block }}
{{block 'oascript'}}
<script>
    // Init table css
    var table = $('#item_table').DataTable();

    $('#item_table tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
    });

    //Sending ajax request
    $('#editOrder').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize();
        $.ajax({
            url: '/oa/orderEdit',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 0) {
                    window.location.href = '/oa/order'
                } else if (err_code === 500) {
                    t_alert("Server error");
                }

            }
        })
    })
</script>
{{/block }}