{{extend './layout.html'}}

{{block 'oacontent'}}
<!-- start section content -->
<div class="content-body">
    <div class="warper container-fluid">
        <div class="new_appointment main_container">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4 class="text-primary">Orders</h4>
                        <p class="mb-0">The customization orders from customers.</p>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex nav_title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/oa/index">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:;">Orders</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-header fix-card">
                            <div class="row">
                                <div class="col-8">
                                    <h4 class="card-title"> Order List</h4>
                                </div>
                                <div class="col-4">
                                    <a href="/oa/newOrder" class="btn btn-primary float-end">New
                                        Order </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="orderTable" class="display nowrap">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Order Date</th>
                                            <th>Boat Name</th>
                                            <th>Delivery Time</th>
                                            <th>Total Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{each result}}
                                        <tr>
                                            <td>
                                                {{result[$index].orderId}}
                                            </td>
                                            <td class="orderDate">{{result[$index].orderDate | getDate}}</td>
                                            <td>{{result[$index].boats.boatName}} </td>
                                            <td class="dateformate"> {{result[$index].estimatedDeliveryDate | getDate}}
                                            </td>
                                            <td> {{result[$index].price | moneyFormat}}</td>
                                            <td class="text-start">
                                                <span class="badge badge-primary">Received</span>
                                            </td>
                                            <td>

                                                <a class='mr-4 edit' href="/oa/orderEdit?id={{result[$index].orderId}}">
                                                    <span class='fas fa-pencil-alt'></span>
                                                </a>
                                                <a class='mr-4 vue' href="/oa/orderDelete?id={{result[$index].orderId}}"
                                                    onclick="return confirmAct();">
                                                    <span class='fas fa-trash-alt'></span>
                                                </a>
                                                <a class='view'>
                                                    <span class='fas fa-eye'></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End section content -->
{{/block }}
{{block 'oascript'}}
<script>
    $(function () {

        var arr = [];

        for (i = 0; len = $(".dateformate").length, i < len; i++) {
            arr.push($(".dateformate").html())
        }
        arr.forEach(element => {
            // alert(element)
        });
        // $(".dateformate").html(formateDate($(".dateformate").html()))

        // $(".orderDate").html(formateDateTime($(".orderDate").html()))
        jQuery('#orderTable').DataTable({})
    })
    var formateDate = function (dateTime) {
        var date = dateTime.split('T')[0]
        return date
    }
    var formateDateTime = function (dateTime) {
        var date = dateTime.split('T')[0] + " " + dateTime.split('T')[1].split('.')[0]
        return date
    }
</script>
{{/block}}