<!-- Main Footer -->
<footer class="main-footer footer-style-three">
    <div class="outer-container">

        <div class="upper-row">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="logo-box">
                        <a href="/"><img src="../../public/images/footer-logo.png" alt=""></a>
                    </div>
                    <div class="drop-link currency">
                        <div class="link-btn">
                            <span class="txt">Australia - AUD</span>
                            <span class="arrow fa fa-angle-down"></span>
                        </div>
                        <!-- <div class="link-dropdown">
                            <ul>
                                <li><a href="#">America - USD</a></li>
                                <li><a href="#">Australia - AUD</a></li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="useful-links">
                        <div class="links-btn">
                            <span class="btn-txt">Useful Links</span>
                        </div>
                        <div class="links-panel">
                            <ul class="links">
                                <li><a href="/about">Almond Yachts</a></li>
                                <li><a href="/model">Model</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lower-row">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="social-links-two">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="#"><span class="fas fa-rss"></span></a></li>
                        </ul>
                    </div>
                    <div class="copyright">Copyright &copy; 2021. Almond Boats All rights reserved.</div>
                    <div class="payment-cards">
                        <ul class="clearfix">
                            <li><a href="#"><img src="../../public/images/icons/payment-card-1.png" alt=""></a></li>
                            <li><a href="#"><img src="../../public/images/icons/payment-card-2.png" alt=""></a></li>
                            <li><a href="#"><img src="../../public/images/icons/payment-card-3.png" alt=""></a></li>
                            <li><a href="#"><img src="../../public/images/icons/payment-card-4.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>